<!doctype html>
<html lang="en" ng-app="javafxwebdemo">
<head>
    <meta charset="utf-8">
    <title>Main Page</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="css/ripples.min.css">
    <link rel="stylesheet" href="css/jquery.dropdown.css">

    <!--<script src="js/fruits-service.js" type="text/javascript"></script>-->
    <!--<script src="js/calculator-service.js" type="text/javascript"></script>-->

    <script src="jslib/jquery-1.10.2.min.js"></script>
    <script src="jslib/jquery.dropdown.min.js"></script>
    <script src="jslib/bootstrap.min.js"></script>

    <script src="jslib/angular.min.js"></script>
    <script src="jslib/ripples.min.js"></script>
    <script src="jslib/material.min.js"></script>

    <script src="js/misc.js"></script>

    <script src="js/controller-angular.js" type="text/javascript"></script>

    <!--&lt;!&ndash; before any uses of the backend objects &ndash;&gt;-->
    <!--<script src="js/fruits-service.js" type="text/javascript"></script>-->
    <!--<script src="js/calculator-service.js" type="text/javascript"></script>-->

    <!--<script src="jslib/angular.min.js" type="text/javascript"></script>-->

    <!--<script src="js/controller-angular.js" type="text/javascript"></script>-->
    <!--&lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;-->
    <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->

    <!--&lt;!&ndash; Optional theme &ndash;&gt;-->
    <!--<link rel="stylesheet" href="css/bootstrap-theme.min.css">-->

    <!--&lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;-->
    <!--<script src="jslib/bootstrap.min.js"></script>-->

    <link rel="stylesheet" href="style.css">
</head>

<body ng-controller="JavaFXWebDemoController">
<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">MorePianer</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="javascript:void(0)" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        Mode
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Learning</li>
                        <li><a href="javascript:void(0)">Note mark to physical key</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        Settings
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Devices</li>
                        <li><a href="javascript:void(0)">Manage devices</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Application</li>
                        <li><a href="javascript:void(0)">Settings</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="javascript:void(0)" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        App
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)">About...</a></li>
                        <li><a href="javascript:void(0)">About author...</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)">Website</a></li>
                    </ul>
                </li>
                <li><a href="javascript:void(0)">Exit</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Calculator (synchronous example)</h3>
                </div>
                <div class="panel-body">

                    Number1: <input ng-model="number1" class="form-control"><br>
                    Number2: <input ng-model="number2" class="form-control"><br>

                    <p>
                        Result of Number1 + Number2 is: {{ sum() }}<br>
                        <small>(the result is computed in pure Java via a synchronous call)</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Fruits (asynchronous example)</h3>
                </div>
                <div class="panel-body">
                    Fruits:
                    <small>(data is generated in pure Java via an asynchronous call)</small>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="fruit in fruits">
                            <td>{{fruit}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-lg btn-success" ng-click="update()">Update data</button>
                </div>
            </div>
        </div>

    </div>
</div>
<a href="index.html">Reload page</a>

</body>
</html>