html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.footer > .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.footer > .container > .wrapper {
    margin: 10px 0;
}

.footer > .container > .wrapper > .text-one {
    margin-bottom: 5px;
    font-size: 12px;
}

.footer > .container > .wrapper > .text-two {
    font-size: 10px;
}

